@media only screen and (min-width: 450px){
    #categorias{
        .box-slider{
            height: fit-content;
            padding: 30px 0;
            .wrapper{
                max-width: 1850px;
                .content{
                    min-width: 280px;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px){
    #pie{
        .enlaces{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-gap: 15px;
        }
    }
}