$trans-05: 500ms;
$trans-08: 800ms;
$trans-10: 1s;

$pad-5: 5px;
$pad-10: 10px;
$pad-15: 15px;
$pad-20: 20px;
$pad-35: 35px;
$pad-40: 40px;

$tamObj: 180px;
$tam-ico: 23px;

$w-mnav: 55px;
$h-mnav: 75px;
$w-nav: 250px;
$h-nav: 500px;
$h-pie: 150px;

$br-10: 10px;